.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

.app-container{
  display: flex;

}

.sidebar{
  position: fixed;
  top: 50%;
  flex-direction: column;
  color: white;

}

.sidebar p{
  padding:10px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar p:hover{
  cursor: pointer;
  color: var(--retro-brown);
}

.load-more-btn{
  width:auto;
  min-width: 20px;
  max-width: 100%;
  border-radius: 15px;
  padding: 12px;
  margin-bottom: 45px;
}

.load-more-btn-hidden{
  display: none;
}